/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) { 

/* header  */

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    margin: auto;
}
.pl-custom{
    margin-right: auto;
}

.map-content h4 {
    font-weight: 700;
    color: #30788B;
    font-size: 16px;
    text-align: center;
}

.mt-custom{
    margin-top: 80px;
}

}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    .map-content h4 {
        font-weight: 700;
        color: #30788B;
        font-size: 16px;
        text-align: center;
    }
    .mt-custom{
        margin-top: 80px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
   
    .map-content h4 {
        font-weight: 700;
        color: #30788B;
        font-size: 16px;
    }
   

	}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
   
   
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	



}
